/*
Author: Vitus Wagensonner
Date: 2025-09-14
*/

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #84195f;
}

h1 {
    color: #189467;
    font-size: 36px;
    margin-bottom: 15px;
    text-align: center;
}

p {
    color: #261cba;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 10px;
}

a {
    color: #ff5733;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}